
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Material-Design-Icons.eot) format('embedded-opentype');
    src: local('Material-Design-Icons'),
        url(../fonts/Material-Design-Icons.woff2) format('woff2'),
        url(../fonts/Material-Design-Icons.woff) format('woff'),
        url(../fonts/Material-Design-Icons.ttf) format('truetype'),
        url(../fonts/Material-Design-Icons.svg) format("svg");
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

}

.container-fluid{
    display: block;
    width: 100%;
    padding: 1% 2%;
    height: auto;
    margin: 0 auto;
}

.justify-align{
    text-align: justify;
}

.edit:hover { 
  color: #0091ea;
  cursor: default;
}

.delete:hover { 
  color: red;
  cursor: default;
}

.invalid{
    margin-top: -10px;
    color: red;
    font-size: 10px;
}